<div class = "flex flex-col items-center w-full h-screen justify-center bg-[#fdfdfd]">
  <h1 class="flex flex-col justify-center text-3xl font-bold pb-8">Budget App</h1>
  <div class = "fixed bottom-0 w-full">
    <%= link_to new_user_session_path do %>
      <button id = "login", class = "w-full bg-[#3778c2] text-[#f1f3f2] pt-3">
        <p class = "py-1 hover:text-xl">LOG IN</p>
      </button>
    <% end %>
    <%= link_to new_user_registration_path do %>
      <button id = "signup", class = "w-full bg-[#3778c2] text-[#f1f3f2] pb-3">
        <p class = "py-1 hover:text-xl">SIGN UP</p>
      </button>
    <% end %>
  </div>
</div>
